FILES
INSTALL
build-log.txt

*.pyc
*.[oa]
*.lo
*.loT
*.la
*.laT
*.so
*.bak
*.dist
.deps
.libs
*~
.*.swp
Makefile.in
Makefile

core
core.*
vgcore*

doc/html
doc/Doxyfile
doc/doxygen.log

mangos2-*.tar.bz2
mangos2-*.tar.gz

aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
config.h
config.log
config.status
libtool
stamp-h1

config.h

callgrind.out.*

dep/src/tolua++/bin/tolua
src/realmlist/mangos2-realmlist
src/shared/svn_revision.h
src/tools/tolua/bin/tolua
src/worldserver/mangos2-worldserver
